
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

 

<link rel="stylesheet" href="../../../static/Css/uni.css">

<link rel="stylesheet" href="../../../static/Icon/style.css">

<link rel="stylesheet"    href="../../../static/Css/font.css">
<link rel="shortcut icon" href="../../../static/Img/Reddace.svg" type="image/x-icon">
	
	<title>REDDASCE</title>
</head>
<body id="grid">  
        <header id="inicio">
                <div class="container-header">
                    <div class="logo-title">
                        <img src="../../../static/Img/Reddace.png" >
                        <h4>REDDASCE-Reutilización de Datos para DASCE </h4>
                    </div>
                    
                </div>
            </header>
        
             <div class="container-portada">
                <div class="capa-gradient"></div>
                <div class="container-details">
                    <div class="details">
                        <h1>UPTJAA</h1>
                        <p>En su creación, hace 59 años (agosto, 1959) como instituto autónomo, tenía como fin promover la formación profesional de los trabajadores, realizar programas de adiestramiento a la juventud desocupada, entre otras tareas.
        </p>
                    <a href="../login.php"><input type="button" value="Regresar" id="boton"></a>
                    <a href="#Vision"><input type="button" value="Vision" id="boton"></a>
                    <a href="#Mision"><input type="button" value="Mision" id="boton"></a>
                    
                    </div>
                    <div class="details">
                        <div>
                            <center><img src="../../../static/img/uni120.png" style="height: 250px;">
                            <h1 id="pon1">UPTJAA</h1></center>
                    </div>
                    </div>

                </div>
               
                
            </div>
        






    <div id="img1" class="principal contenedor">
        <div>
        <article id="Historica">
            <h2 class="titulo" id="F1">Reseña Historica del UPTJAA</h2>
            <p class="fecha">25 mayo del 2018</p>
            <p>El Instituto Nacional de Cooperación Educativa (INCE) fue un organismo autónomo fundado en 1959 por el maestro Luis Beltrán Prieto Figueroa, también fundador de la primera Federación Venezolana de Maestros en 1936 y cofundador del partido Acción Democrática en 1941. Su gran preocupación y labor de trabajo estaba dedicada a la educación y el INCE es la mejor prueba fehaciente de ello.</p>

            <p>Este instituto nació fundamentalmente como una necesidad frente a la realidad social que vivía el país durante esos años. Las condiciones socioeconómicas en ese momento, pese a las grandes inversiones en infraestructura hechas por el régimen dictatorial -de las cuales aún hoy en día disfrutamos a pesar de su deterioro- , aún estaban muy lejos de ser adecuadas para una gran parte de la población, y en ello la educación era uno de los ámbitos más relegados. Para 1958 existían más de dos millones de adultos analfabetas y un volumen también muy importante de niños fuera del sistema educativo, producto, entre otras razones, de una escasa infraestructura educativa. Frente a este panorama, como era de esperarse, el personal capacitado escaseaba, los registros indican que solamente alrededor de seis mil jóvenes asistían a escuelas técnicas.</p>

            <p>El año de fundación del INCE está marcado por el inicio de una nueva etapa para el país con el fin de la dictadura de Marcos Pérez Jiménez. El proyecto original propuesto por el maestro Luis Beltrán Prieto ante el Congreso de la República de ese entonces estaba enmarcado en la idea de la educación popular. Ello se traducía en que no tenía como único objetivo el desarrollo la formación profesional, pues la propuesta se enmarcaba dentro del proceso democratizador del país. Estos movimientos de educación procuraban promover la enseñanza básica focalizando la atención hacia los sectores populares, con la finalidad de educar al pueblo y así ampliar sus derechos, puesto que a la población analfabeta no se les permitía votar. De esta manera se lograba una mayor participación y por lo tanto se sembraba para cosechar la consolidación del sistema democrático en el futuro.</p>

            <p>El Instituto Nacional de Capacitación y Educación Socialista (INCES) es un organismo autónomo con personalidad jurídica y patrimonio propio, adscrito según gaceta oficial N° 41.116, decreto 2.758, de fecha 17 de marzo de 2017, al Ministerio del Poder Popular para la Educación, creado por Ley el 22 de Agosto de 1959 y reglamentado por Decreto el 11 de Marzo de 1960 bajo la denominación de Instituto Nacional de Cooperación Educativa (INCE). En el 2003 de acuerdo con Decreto publicado en la Gaceta Oficial Nº 37.809 de fecha 03 de Noviembre, se reforma el reglamento de la Ley del INCE, con la finalidad de reorganizarlo y adecuarlo a los intereses del país y al proceso de reconversión industrial, proceso que enmarca posteriormente su concepción y visión, dentro del ámbito de un socialismo abierto y participativo.</p>
        </article>
    </div>
        <article id="Mision">
            <h2 class="titulo">MISION</h2>
            <p class="fecha">25 Mayo del 2018</p>
            <p>
               El Inces es la institución del Estado encargada de la formación y autoformación colectiva, integral, continua y permanente de los trabajadores y las trabajadoras, orientada al desarrollo de sus capacidades para la producción de bienes y prestación de servicios que satisfagan las necesidades del Poder Popular, su incorporación consciente al proceso social de trabajo y la construcción de relaciones laborales justas e igualitarias.
</p>
        </article>
        <article id="Vision">
            <h2 class="titulo">VISION</h2>
            <p class="fecha">25 Mayo del 2018</p>
            <p>Convertirnos en una poderosa herramienta para la transformación y consolidación de una economía soberana y diversificada, siendo referente nacional e internacional de la formación técnica profesional inclusiva y colectiva, con altos niveles de calidad, que forma trabajadores y trabajadoras conscientes de su rol como sujeto social protagónico, con dominio de los procesos productivos y capacidad para generar tecnología e innovación creadora.</p>
                    
        </article>
        
    </div>
    <a href="#inicio" > <img id="roker" src="../../../static/Img/rocket.svg" alt=""></a>
    
<div id="finn">
 <footer>
        
   
     <p>&copy;REDDASCE Derechos reservados&ensp;2020/2021.</p> 
    
    
 </footer>
</div>
</body>
</html>

<html>                                                                                                        </html>